<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khizar.year2groupproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CS2005GradesActivity"></activity>
        <activity android:name=".CS2004GradesActivity" />
        <activity android:name=".CS2003GradesActivity" />
        <activity android:name=".CS2002GradesActivity" />
        <activity android:name=".CS2001GradesActivity" />
        <activity android:name=".CS2005ModuleInfoActivity" />
        <activity android:name=".CS2004ModuleInfoActivity" />
        <activity android:name=".CS2003ModuleInfoActivity" />
        <activity android:name=".CS2002ModuleInfoActivity" />
        <activity android:name=".CS2001ModuleInfoActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ToDoListActivity" />
        <activity android:name=".CS2005ToDoListActivity" />
        <activity android:name=".CS2004ToDoListActivity" />
        <activity android:name=".CS2003ToDoListActivity" />
        <activity android:name=".CS2002ToDoListActivity" />
        <activity android:name=".CS2001ToDoListActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".ModuleSelectionBusinessComputingActivity" />
        <activity android:name=".ResourceActivity" />
        <activity android:name=".TimetableActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ModuleSelectionActivity" />
        <activity android:name=".GradeCalcActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity
            android:name=".CS2007Activity"
            android:label="@string/action_seven"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CS2006Activity"
            android:label="@string/action_six"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CS2005Activity"
            android:label="@string/action_five"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CS2004Activity"
            android:label="@string/action_four"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CS2003Activity"
            android:label="@string/action_three"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CS2002Activity"
            android:label="@string/action_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CS2001Activity"
            android:label="@string/action_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>